{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    <button class="btn btn-primary mt-3">
        {{ submit_label|default('Save') }}
    </button>
    {{ form_end(form) }}

    <a href="{{ path('users_list') }}" class="btn btn-secondary mt-3">Back to list</a>
{% endblock %}
