{% extends 'base.html.twig' %}

{% block title %}Add User{% endblock %}

{% block body %}
    <h1 class="mb-4">Add User</h1>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}

    <button class="btn btn-primary mt-3">
        {{ submit_label|default('Save') }}
    </button>
    {{ form_end(form) }}
{% endblock %}
