{% extends 'base.html.twig' %}

{% block title %}Donors{% endblock %}

{% block body %}
    <h1 class="mb-4">Donors</h1>
    <a href="{{ path('donors_add') }}" class="btn btn-secondary mt-3">Add Donor</a>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>User Email</th>
            <th>Full Name</th>
            <th>Blood Type</th>
            <th>Cine</th>
            <th>Birthdate</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for donor in donors %}
            <tr>
                <td>{{ donor.id }}</td>
                <td>{{ donor.userEmail }}</td>
                <td>{{ donor.fullName}}</td>
                <td>{{ donor.bloodType }}</td>
                <td>{{ donor.cine }}</td>
                <td>
                    {{ donor.birthdate ? donor.birthdate|date('Y-m-d') : '-' }}
                </td>
                <td class="d-flex gap-2">
                    <a href="{{ path('donors_edit', {'id': donor.id}) }}" class="btn btn-primary btn-sm">
                        Edit
                    </a>

                    <form method="post"
                          action="{{ path('donors_delete', {'id': donor.id}) }}"
                          onsubmit="return confirm('Delete this donor?')"
                          style="display:inline">

                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ donor.id) }}">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">No donors found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
